# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
lovelace:
  dashboards:
    lovelace:
      mode: yaml
      filename: ui-lovelace.yaml
      title: Графики
      icon: mdi:view-dashboard
      show_in_sidebar: true

influxdb:
  api_version: 2
  ssl: false
  host: 192.168.1.103
  port: 8086
  token: kpRyNVcdwpjpF56QaUieven2UrMxfYDUD5cNKpesFUvWjNE2p4k4EzArgFvoSIX7JGNkm-hBbvqtReZ9owCxkw== 
  organization: home
  bucket: homeassistant
  include:
    domains:
      - sensor
      - binary_sensor
